<!DOCTYPE html>
{% load static %}
{% load staticfiles %}
<html lang="en">
<head>
     <script src="{% static 'js/jquery.js' %}"></script>
     <script src="{% static 'js/bootstrap.min.js' %}"></script>

    <script src="{% static 'calculate.js' %}"></script>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

 <body class="back">
<from name="calcula">
    <div class="control">
        <table border="0" height="300px" width="300px" align="center" class="forming" id="xoxo" >
        <tr>
             <td><input type="reset" name="button" value="C" class="btn btn-danger" onclick="cleartext()"></td>
            <td colspan="3">
                <input type="text" name="txtVal" class="form-control" placeholder="0" id="idtext">
            </td>

        </tr>
            <tr>
                <td><input type="button" value="7" id="btn7" class="btn btn-primary" onmouseover="change_color()" onclick="getvalue(7);"></td>
                <td><input type="button" value="8" id="btn8" class="btn btn-primary" onclick="getvalue(8)"></td>
                <td><input type="button" value="9"  id="btn9" class="btn btn-primary" onclick="getvalue(9)"></td>
                <td><input type="button" value="+" class="btn btn-primary" onclick="getvalue(+)"></td>
            </tr>
            <tr>
                <td><input type="button" value="4" id="btn4" class="btn btn-primary" onclick="getvalue(4)"></td>
                <td><input type="button" value="5"  id="btn5" class="btn btn-primary" onclick="getvalue(5)"></td>
                <td><input type="button" value="6"  id="btn6" class="btn btn-primary" onclick="getvalue(6)"></td>
                <td><input type="button" value="-" class="btn btn-primary" onclick="getvalue(-)"></td>
            </tr>
            <tr>
                <td><input type="button" value="1" id="btn1" class="btn btn-primary" onclick="getvalue(1)"></td>
                <td><input type="button" value="2"  id="btn2" class="btn btn-primary" onclick="getvalue(2)"></td>
                <td><input type="button" value="3" id="btn3" class="btn btn-primary" onclick="getvalue(3)"></td>
                <td><input type="button" value="*" class="btn btn-primary" onclick="getvalue(*)"></td>
            </tr>
             <tr>
                <td><input type="button" value="0"class="btn btn-primary" onclick="getvalue(0)"></td>
                <td><input type="button" value="."class="btn btn-primary" onclick="getvalue(.)"></td>
                <td><input type="button" value="="class="btn btn-primary" onclick="getvalue(=)"></td>
                <td><input type="button" value="/"class="btn btn-primary" onclick="getvalue(/)"></td>
            </tr>
        </table>
    </div>
</from>

</body>
 <style type="text/css">
#btn1:hover { background-color: #9999ff; }
#btn2:hover { background-color: #9999ff; }
#btn3:hover { background-color: #9999ff; }
#btn4:hover { background-color: #9999ff; }
#btn5:hover { background-color: #9999ff; }
#btn6:hover { background-color: #9999ff; }
#btn7:hover { background-color: #9999ff; }
#btn8:hover { background-color: #9999ff; }
#btn9:hover { background-color: #9999ff; }
</style>

</html>