<!DOCTYPE html>
{% load static %}
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="{% static 'game.js' %}"></script>
<style>
canvas {
    border:1px solid #d3d3d3;
    background-color: #f1f1f1;
}
</style>
</head>
<body>
<h1>game</h1>

<audio id="myAudio">
   <source src="{%static '.ogg'%}" type="audio/ogg">
  <source src="{%static 'bounce.mp3'%}" type="audio/mpeg">
  Your browser does not support the audio element.
</audio>

<div style="text-align:center;width:480px;">
  <button onmousedown="moveup()" onmouseup="clearmove()" ontouchstart="moveup()">UP</button><br><br>
  <button onmousedown="moveleft()" onmouseup="clearmove()" ontouchstart="moveleft()">LEFT</button>
  <button onmousedown="moveright()" onmouseup="clearmove()" ontouchstart="moveright()">RIGHT</button><br><br>
  <button onmousedown="movedown()" onmouseup="clearmove()" ontouchstart="movedown()">DOWN</button>
</div>

<script>
      //var canvas = document.getElementById('myCanvas');
      //var context = canvas.getContext('2d');
</script>
</body>
</htmlc