<!DOCTYPE html>
{% load static %}
{% load staticfiles %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
 <script src="{% static 'mytest.js' %}"></script>
<body>

<h1>home</h1>
<a href="login">page login </a>
<br>
<a href="calculate">calculate</a>
<br>
<a href="Es6">Es6</a>
<br>
<a href="snake">snake</a>
<hr>

<input type="button" name="getdata" value="show time " onclick="showtime()">
<p id='time'></p>

<form name="myform " action="">
    <p>click yo cooke</p>
    <input type="button" value="cookie"  onclick="writecooki()">
    <input type="button" value="getvalue" onclick="getvalue()">
    <input type="text" name="textuser" id="textid">
    <input type="button" value="print" onclick="window.print()">
    <input type="button" value="1" id="btnone">
    <input type="text" id="testid">
</form>
<script>

    function book(title,publisher,price){
       this.title=title;
       this.publisher=publisher;
       this.price=price;
    }
    var newbook=new book("history","rasool",100);
    document.write("newbook.tosource is:"+ newbook.toSource())

</script>

<script>
   function display(){
       document.write("is random" +"<br>")
       x =  Math.floor(Math.random()*20);
       document.write("x is:" + x)
   }
   display()

</script>


<script>
   var one;
    function init(){
       one=getId("btnone")
       one.onclick=function(){inputHandler("1");};

    }
    function getId(id){
       alert(id)
       return document.getElementById(id);


    }

    function inputHandler(txtNumber){
       //alert(txtNumber)
       document.getElementById("testid").value=document.getElementById("testid").value+txtNumber
       //alert(stringValue)
       //document.write(stringValue)
    }
    window.onload= init;
</script>

<script>
    function getval(val){
       //alert("in hi ");
       //document.getElementById("testid").value=document.getElementById("testid").value+val
       //document.getElementById("btnone").value;
       //document.getElementById()
    }
    //getval()
</script>


<script>
function print_num(){
    var a;
    b="hello word";
    var arr=["hello word",1,3]
    c={b:"c"};
    d=['a','b','c']
    document.write(arr[0])
    document.write(arr.length)
    document.write(c.b)
    document.write(typeof(d))
    document.write('<hr/>')
    for(count = 0; count < 10; count++){
      document.write("Current Count : " + count );
      document.write("<br />");
    }

 print_num()
</script>
<script language="javascript" type="text/javascript">
 document.write("hello rasool")
</script>

<script>
function sayhello(){
    alert("hello word")
    }
  //onclick=sayhello()
</script>

</script>

<script>
    function gourl(){
       var a=3
       if (a==2){
          document.write("va is 2")

       }
       else{
          window.location.href="login"
       }
    }
    //gourl()
</script>

<script>
     document.write("get elelmnet")
    //alert(document.getElementById("text1"))
    document.getElementById("text1").value;
    alert(get)
    //document.write(get)

</script>
<hr>
 <lable >please enter:</lable>
 <input type="text" id="text1">
<hr>

<script>
 function identify(){
   alert(this.name.toUpperCase());
   //document.write(this.name.toUpperCase())
   //return this.name.toUpperCase()

 }

 var me={
    name="rasool";
 };
 var you={
     name="reza";
 };
 identify.call(me)
 identify.call(you)
</script>

<script>
    function AutoRefresh( t ) {
     setTimeout("location.reload(true);", t);
   }
   //AutoRefresh(5000)

</script>
<script>
    function showtime(){
      var today= new Date();
      var h=today.getHours();
      var m=today.getMinutes();
      var s=today.getSeconds();
      //alert(h + ":" + m + ":" + s);
      document.getElementById("time").innerHTML=h + ":" + m + ":" + s;
    }
</script>





</body>
</html>